*{
    margin: 0;
    padding: 0;
}
.box{
    border: 1px solid red;
    background-color: #D7D7D7;
}
.shang{
    border: 1px solid green;
    margin: auto;
    position: absolute;
    left: 6%;
    right: 6%;
    top:6%;
    bottom:30%;
    background: #FFFFFF;
    border-radius: 20px;
}
.tupian{
    position: absolute;
    left: 6%;
    top: 9%;
    width: 9%;
    bottom: 90%;
}
.touxiang{
    position: absolute;
    left: 88%;
    top: 78%;
    width: 7.5%;

}
.yulu{
    position: absolute;
    width: 88%;
    height: 60%;
    left: 6%;
    top: 30%;
    bottom:30%;
    font-family:  serif,sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #09120C;
}
.rili{
    border: 1px solid yellow;
    position: absolute;
    left: 6%;
    right: 6%;
    top:70%;
    bottom:6%;
    border-radius: 20px;
    background: #E8EAE8;
}
.tianshu{
    position: absolute;
    width: 43px;
    height: 36px;
    left: 8%;
    top: 77%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: rgba(9, 18, 12, 0.5);
}
.yuefen{
    position: absolute;
    width: 21px;
    height: 16px;
    left: 17%;
    top: 78%;
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    line-height: 16px;
    color: rgba(9, 18, 12, 0.5);
}
.nianfen{
    position: absolute;
    width: 29px;
    height: 16px;
    left: 17%;
    top: 82%;
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    line-height: 16px;
    color: rgba(9, 18, 12, 0.5);
}
.biaoshi{
    position: absolute;
    width: 112px;
    height: 20px;
    left: 50%;
    top: 80%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: rgba(9, 18, 12, 0.5);
}