*{
    margin: 0;
    padding: 0;
}
.box{
    border: 1px solid red;
    background-color: #D7D7D7;
    margin:6%;/*外边距*/
}
.shang{
    border: 1px solid green;
    width: 100%;
    height: 66%;
    left: 6%;
    background: #FFFFFF;
    border-radius: 20px;/*圆角半径*/
}
.tupian{
    width: 9%;
    position:relative;
    left:4%;
    margin-top:4%;/*外边距*/
}
.touxiang{
    left: 88%;
    margin-bottom:4%;
    width: 8%;
    position:relative;
}
.yulu{
    width: 60%;
    margin:6% auto;
    text-align:left;
    font-family: serif,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    color: #09120C;
}
.rili{
    border: 1px solid yellow;
    height:200px;
    display: flex;
    border-radius: 20px;
    background: #E8EAE8;
}
.tianshu{
    flex: 15;
    left: 8%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: rgba(9, 18, 12, 0.5);
}
.yuefen{
    flex: 35;
    left: 17%;
    top: 78%;
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    line-height: 16px;
    color: rgba(9, 18, 12, 0.5);
}
.biaoshi{
    flex: 50;
    top: 50%;
    left: 50%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(9, 18, 12, 0.5);
}